

<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Sheelove's Blog</h1>
    <p class="lead">A safe place for your shared thoughts</p>
    <hr class="my-4">
    <p>Got something to say? Please sign up and share it us!</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>


